{% extends "base.html" %}
{% load static %}

{% block title %}
PyNetSpeed
{% endblock %}

{% block content %}

<section class="hero">

    <h1>Internet Speed Test</h1>

    <p>Measure your internet connection in real time.</p>

    <div class="speedometer">

        <div class="speed-value">
            <span id="speed-number">0</span>
            <small>Mbps</small>
        </div>

        <button id="start-btn">
            GO
        </button>

    </div>

    <div class="results">

        <div class="result-card">
            <span>Ping</span>
            <h2 id="ping">0 ms</h2>
        </div>

        <div class="result-card">
            <span>Download</span>
            <h2 id="download">0 Mbps</h2>
        </div>

        <div class="result-card">
            <span>Upload</span>
            <h2 id="upload">0 Mbps</h2>
        </div>

    </div>

</section>

<script src="{% static 'home/js/speedtest.js' %}"></script>

{% endblock %}